@model Week14bLoginCodeFirst.Models.Employee
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http
@{
    var userEmail = Context.Session.GetString("userEmail");
}



<style>
    #ADD {
        color: goldenrod;
        font-size: 14px;
    }

    label {
        width: 150px;
    }
</style>



<form class="form-horizontal" asp-controller="Home" asp-action="Create">

	<div>Logged in User: <span>@userEmail</span></div>


	<h1>Update</h1>


	<label>Email</label>
	<input type="text" asp-for="Email" /><br />
	<span asp-validation-for="Email" class="text-danger"></span><br />
	<label>Password</label>
	<input type="text" asp-for="Password" /><br />

	<span asp-validation-for="Password" id="ADD"></span>
	<br />

	<label>First Name</label>
	<input type="text" asp-for="FirstName" /><br /><br />

	<label>Last Name</label>
	<input type="text" asp-for="LastName" /><br /><br />
	<label>Address</label>
	<input type="text" asp-for="Address" />


	<br /><br />
	<label>Role</label><br />
	<div class="form-check">
		<input asp-for="Role" type="radio" value="Employee" class="form-check-input" />
		<label class="form-check-label">Employee</label>
	</div>
	<div class="form-check">
		<input asp-for="Role" type="radio" value="Admin" class="form-check-input" />
		<label class="form-check-label">Admin</label>
	</div>
	<div class="form-check">
		<input asp-for="Role" type="radio" value="SuperAdmin" class="form-check-input" />
		<label class="form-check-label">SuperAdmin</label>
	</div>
	<span asp-validation-for="Role" class="text-danger"></span>





	<br />
	<button type="Submit">Save</button>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />

}






@* <form class="form-horizontal" asp-controller="Home" asp-action="Update">
    <h1>Update</h1>

    <label>Email</label>
    <input type="text" asp-for="Email" />
    <label>Password</label>
    <input type="text" asp-for="Password" />

    <br />

    <label>First Name</label>
    <input type="text" asp-for="FirstName" />
    <label>Last Name</label>
    <input type="text" asp-for="LastName" />
    <label>Address</label>
    <input type="text" asp-for="Address" />

    <button type="Submit">Save</button>
</form>
 *@
